@model List<Product>

@{
    ViewBag.Title = "لیست محصولات";

    int pageIndex = ViewBag.PageIndex;
    int pageSize = ViewBag.PageSize;
    decimal pageCount = ViewBag.PageCount;

    int index = (pageIndex * pageSize) + 1;
}

<h2>Index</h2>

@if (Request.QueryString["success"] == "true")
{
    <span class="alert alert-success">موفقیت در حذف</span>
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>ردیف</th>
            <th>نام</th>
            <th>تعداد</th>
            <th>تاریخ ثبت</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(index++)</td>
                <td>@item.Title</td>
                <td>@item.Count</td>
                <td>@item.RegisterDate.ToString()</td>
                <td>
                    <a href="/Admin/Products/Edit/@item.ID" class="btn btn-sm btn-warning">ویرایش</a>
                    <a href="/Admin/Products/Delete/@item.ID" class="btn btn-sm btn-danger">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<ul>
    @for (int i = 0; i < Math.Ceiling(pageCount / pageSize); i++)
    {
        <li>
            <a href="/Admin/Products?pageIndex=@i" class="btn btn-xs btn-default">@(i + 1)</a>
        </li>
    }
   
</ul>